extends layout

block content
  h1= title
  p Welcome to #[em Home Inventory System], a very basic Express website developed as a showcase for Daniel Knotek.


  if formErrors
    div.container.mt-3
      div(class="alert alert-danger" role="alert")
        ul
          for err in formErrors
            li!= err.msg 

  if errors
    ul
      for error in errors
        li!= error.msg


  p #[bold Items Count: ] #{results.item_count}
  p #[bold Locations Count: ] #{results.location_count}


  div.mainContent

  script(src="/javascripts/renderContent.js")
  script. 
    render(!{locationsJSON},!{itemsJSON}, document.querySelector('.mainContent'));

  form(method='POST' action='/his/location/create')
    div.form-group
      input(name="name", type="text", placeholder="Name") 
    button.btn.btn-primary(type='submit') create Location
          
  script
    include colourCoding.js

