extends layout

block content
  h1= title
  p Welcome to #[em !{title}].

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The WSI has the following record counts:

    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Location:] !{data.location_count}

    button(type="button" onclick="window.location.href='/catalog/location/create'") #[strong Add root location]

  if  data.location_list.length == 0
    p no location to show 
  else 
    table
      tbody 
        each location in data.location_list
          -let matchingItems = data.item_list.filter(item => item.id === location.id)
          tr 
            td 
              a(href=location.url)  #[strong #{location.name}] 
            td
              a(href='/catalog/item/create/' + location.id) #[strong Add Item]
            td #[strong Item Count:] #{matchingItems.length}
              
              
                