extends layout

block content
  h1= title
  p Welcome to #[em !{title}].

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The WSI has the following record counts:

    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Location:] !{data.location_count}

    button(type="button" onclick="window.location.href='/catalog/location/create'") #[strong Add root location]

  if  data.location_list.length == 0
    p no location to show 
  else 
    table
      tbody 
        each location in locations
          tr 
            td 
              a(href=location.url)  #[strong #{location.name}] 
              button(type="button" onclick="window.location.href='/catalog/location/"+ location.id +"/delete'") #[strong Delete]
            if location.items
              td
                a(href='/catalog/item/create/' + location.id) #[strong Add Item]
                a(href='/catalog/location/'+location.id+'/create/') #[strong Add Location]
              td #[strong Item Count:] #{location.items.length}
              td
                image(src=location.QRpath)
              each item in location.items
                tr 
                  td
                  td 
                    a(href=item.url)  #[strong #{item.name}] 
                    button(type="button" onclick="window.location.href='/catalog/item/"+ item.id +"/delete'") #[strong Delete]
                  td count: #{item.count}
                  td
                    image(src=item.picPath)
            else
              tr
                td 
                  a(href='/catalog/item/create/' + location.id) #[strong Add Item]

  if items != null
    table 
      tr
        th Items without a location         
      each item in items
        tr
          td
            a(href=item.url)  #[strong #{item.name}] 
            td
              if locations
                form(method='POST' action="/catalog/item/"+item.id+"/update/")
                  div.form-group
                    select(name="locationSelect")
                      each location in data.location_list
                        option(value=data.selectedLocation,name='location') #{location.name}
                  button.btn.btn-primary(type='submit') Set Location
              else 
                p #[strong no location to assign]
            
            td count: #{item.count}
            td
              image(src=item.picPath)