extends layout

block content 

    h1 Location:  #[strong #{location.name}]

    image(src=location.QRpath)

    div(style='margin-left:20px;margin-top:20px')


        h4 Items 

        dl 
            each item in locationItems 
                dt 
                    a(href=item.url)  #{item.name}
                dd Count: #{item.count}

            else 
                p This locations has no items